.container-fluid{
      --bs-gutter-x: 7.5rem;

}
nav{
  border-bottom: 1px solid #E8E8E8;
  .example-form-field {
    margin-left: 100px;
    max-width: 400px; 
    min-width: 250px;
  .mat-form-field {
    width: 100%;
  }

  .search-button {
    margin-top: 10px; 

    .mat-icon {
      font-size: 24px; 
    }
  }
}

.mat-toolbar{
  background-color: transparent;
}

.nav-item{
    cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;

  .user-details {
    display: flex;
    flex-direction: column;
    margin-right: -20px;
    .flex{
      display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    }
    .nome {
        padding-top: 10px;
      font-size: 16px;
      color: #414D55;
    }

.row{
  margin-top: -15px;
 .mat-icon{
        width: max-content;
        margin-left: 5px;
      }
      .unidade{
    font-size: 12px;
     margin-top: -5px;
     cursor: pointer;
     font-weight: 300;
     color: #676767;
     font-family: 'Poppins', sans-serif;
    }
}
     

    
  }
  .user-status {
  position: relative;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 25px;
  }

  .online-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    bottom: 0;
    right: 0;
  }
}

}

.spacer {
  flex: 1;
}
}

@media (max-width: 600px) {
  ul{
    width: max-content;
    .nav-item{
      button{
        position: relative;
        z-index: 9;
        margin-left: -85px;
      }
    }
  }
  .example-form-field {
      width: 300px !important;
      margin-left: 0px !important;
      max-width: 300px!important; 
    min-width: 150px!important;
  }
  .mobile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;

}
.user-info{
  margin-top: 50px;
}
.mobile-log{
  margin-left: auto;
}
}