<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
   <h1><strong>Dashboard</strong></h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <mat-form-field class="example-form-field">
          <input matInput placeholder="Pesquisar" aria-label="Search">
          <button mat-button class="search-button" type="button">
          </button>
        </mat-form-field>
        </li>   
      </ul> 
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mobile">
        <li class="nav-item me-2">
        <mat-icon>event</mat-icon>
        </li>      
        <li class="nav-item me-2">
        <mat-icon> chat_bubble_outline</mat-icon>
        </li> 
        <li class="nav-item me-2">
        <mat-icon>send</mat-icon>
        </li> 
        <li class="nav-item me-2">
         <mat-icon>thumb_up</mat-icon>
        </li> 
        <li class="nav-item me-2">
        <mat-icon>chrome_reader_mode</mat-icon>
        </li>  
        <li class="nav-item me-2">
        <mat-icon> insert_chart_outlined</mat-icon>
        </li> 
        <li class="nav-item me-2">
        <mat-icon> settings</mat-icon>
        </li> 
      </ul>
     <ul class="navbar-nav">
        <li>
          <mat-toolbar>
            <div class="user-info">   
              <div class="user-details">
                <p class="nome">Larissa Cardoso</p>
                <p class="unidade">Unidade Barreiro<mat-icon>arrow_drop_down</mat-icon></p>
              </div>
              <div class="user-status">
              <img src="../../../assets/avatar-girl-svgrepo-com.svg" alt="Foto de Perfil">
              <div class="online-dot"></div>
            </div>
            </div>
          </mat-toolbar>
        </li>   
      </ul>      
    </div>
  </div>
</nav>