<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
           <div class="notifications">
                <div class="col-md-6">
                <div class="notifications-item">
                <div class="notification-badge">9</div>                    
                <img width="40" height="40" src="../../../assets/icons-side/svg-funcio.svg" alt="funcionario">                
                <span>Funcionários </span>
                </div>
              <div class="notifications-item">
                 <div class="notification-badge">14</div>
                <img width="40" height="40" src="../../../assets/icons-side/svg-avaliacoes.svg" alt="avaliacoes">
                <span>Avaliações </span>
                 </div> 
                </div>
                <div class="col-md-6">
                <div class="notifications-item">
                     <div class="notification-badge">4</div>
                <img width="40" height="40" src="../../../assets/icons-side/svg-client.svg" alt="cliente">
                <span>Clientes </span>
             </div> 
             <div class="notifications-item">
                 <div class="notification-badge">6</div>
                <img width="40" height="40" src="../../../assets/icons-side/svg-exam.svg" alt="exame">
                <span>Exames </span>
             </div>
                </div>
            </div>
             
            
            
           </div>
        </div>
      
        <div class="col-md-6">
       <div class="filtro">
         <div class="container">
             <h1>Procure um profissional:</h1>
            <div class="row">
                <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Cidade</mat-label>
                    <mat-select>
                    <mat-option value="option1">Opção 1</mat-option>
                    <mat-option value="option2">Opção 2</mat-option>
                    <mat-option value="option3">Opção 3</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field  appearance="outline">
                    <mat-label>Especialidade</mat-label>
                    <mat-select>
                    <mat-option value="option1">Opção 1</mat-option>
                    <mat-option value="option2">Opção 2</mat-option>
                    <mat-option value="option3">Opção 3</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field  appearance="outline">
                    <mat-label>Serviço</mat-label>
                    <mat-select>
                    <mat-option value="option1">Opção 1</mat-option>
                    <mat-option value="option2">Opção 2</mat-option>
                    <mat-option value="option3">Opção 3</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
                <div class="col-md-6">
                <mat-form-field  appearance="outline">
                    <mat-label>Unidade</mat-label>
                    <mat-select>
                    <mat-option value="option1">Opção 1</mat-option>
                    <mat-option value="option2">Opção 2</mat-option>
                    <mat-option value="option3">Opção 3</mat-option>
                    </mat-select>
                </mat-form-field >
                <mat-form-field  appearance="outline">
                    <mat-label>Profissional</mat-label>
                    <mat-select>
                    <mat-option value="option1">Opção 1</mat-option>
                    <mat-option value="option2">Opção 2</mat-option>
                    <mat-option value="option3">Opção 3</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field  appearance="outline">
                    <mat-label>Exame</mat-label>
                    <mat-select>
                    <mat-option value="option1">Opção 1</mat-option>
                    <mat-option value="option2">Opção 2</mat-option>
                    <mat-option value="option3">Opção 3</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button mat-raised-button>Buscar</button>
                </div>
            </div>
         </div>
       </div>
        </div>

        <div class="col-md-4">
            <div class="tasks-content">
               <div class="tasks-content__header">
                 <h2>Tarefas </h2>
                <div class="example-button-container">
                    <button>
                    <mat-icon>add</mat-icon>
                    </button>
                </div>
               </div>
               <div class="tasks-content__main">
                <mat-slide-toggle style="background: linear-gradient(to bottom , #FF6357, #FF9187);">Comprar Carro {{ dataHoraAtual | date }}</mat-slide-toggle>
                <mat-slide-toggle style="background: linear-gradient(to bottom , #5780F6, #84A1F8);">Levar Telefone {{ dataHoraAtual | date }}</mat-slide-toggle>
                <mat-slide-toggle style="background: linear-gradient(to bottom , #00C3A5, #00C3A5);">Comprar Moto {{ dataHoraAtual | date }}</mat-slide-toggle>
               </div>
            </div>
        </div>
    </div>
</div>