.notifications{
    display: flex;
    flex-wrap: wrap;
    .notifications-item{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        margin: 30px 0px;
        cursor: pointer;
        text-align: center;
        font-size: 15px;
        span{
            font-size: 14px;
        }
        img{
         margin-left: auto;
         margin-right: auto;
        }
        .notification-badge{
            background-color: red; 
            color: white; 
            border-radius: 50%; 
            width: 25px; 
            height: 25px; 
            text-align: center;
            line-height: 25px; 
            position: absolute;
        }
    }    
}

.filtro{
    background: linear-gradient(to bottom , #FAC095, #f0e5dd);
    border-radius: 15px;
    text-align: center;
    h1{
        font-size: 15px;
        padding-top: 20px;
    }
    .mat-form-field{
    }
    button{
        background: linear-gradient(to bottom , #3D83DF, #6891BE);
        font-size: 16px;
        width: 120px;
        height: 40px;
        color: #fff;
        margin-bottom: 15px;
        border-radius: 25px;
    }
}

.tasks-content{

    .tasks-content__header{
        justify-content: space-between;
        display: flex;
        text-align: center;

        h2{
        height: 40px;
        padding: 20px;
        border-radius: 50px;
        max-width: 300px;
        color: #fff;
        background: linear-gradient(to bottom , #3D83DF, #3d83df93);
         line-height: 0px;
         margin-left: auto;
         margin-right: auto;
        }
        .example-button-container{
            button{
                max-width: 38px;
                height: 40px;
                line-height: 0px;
                    background: linear-gradient(to bottom , #FF8321, #ff812196);
                border: none;
                color:#fff;
                border-radius: 50px;
            }
        }
    }
    .tasks-content__main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 14px;
    gap: 15px;

    .mat-slide-toggle{
        height: 40px;
        padding-left: 20px;
        border-radius: 50px;
        max-width: 300px;
        color: #fff;

    }
    }
    
}

@media (max-width: 600px) {
  .notifications{
        justify-content: space-around;

  }
  .tasks-content{
    padding-top: 50px;
  }
}