<div class="container">
   <div class="calendar-content">
     <div class="row">
        <div class="row-select">
            <p class="unidade">Selecione a unidade desejada:</p>
             <mat-form-field>
                    <mat-label>Unidade</mat-label>
                    <mat-select>
                    <mat-option value="option1">Barroso</mat-option>
                    <mat-option value="option2">Opção 2</mat-option>
                    <mat-option value="option3">Opção 3</mat-option>
                    </mat-select>
                </mat-form-field>
            <div class="example-button-container">
            <button mat-fab color="warn" (click)="openEventModal()"> <mat-icon>control_point</mat-icon></button>
            </div>

        </div>
    </div>
    <div class="calendar-main">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>
   </div>
</div>