
 <mat-nav-list class="menu-content">

    <div class="logo-container">
      <img src="../../../assets/logo.svg" alt="logo">
    </div>
      <mat-list-item routerLink="/menu" class="menu-item active" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span class="menu-label">Menu</span>
      </mat-list-item>

      <mat-list-item routerLink="/agenda" class="menu-item" routerLinkActive="active">
        <img src="../../../assets/icons-side/svg-agenda.svg" alt="calendar">
        <span class="menu-label">Agenda</span>
      </mat-list-item>

      <mat-list-item routerLink="/clientes" class="menu-item" routerLinkActive="active">
        <img src="../../../assets/icons-side/svg-clientes.svg" alt="clientes">
        <span class="menu-label">Clientes</span>
      </mat-list-item>

      <mat-list-item routerLink="/financeiro" class="menu-item" routerLinkActive="active">
        <img src="../../../assets/icons-side/svg-financeiro.svg" alt="financeiro">
        <span class="menu-label">Financeiro</span>
      </mat-list-item>

      <mat-list-item routerLink="/pendencias" class="menu-item" routerLinkActive="active">
        <img src="../../../assets/icons-side/svg-pendencias.svg" alt="pendencias">
        <span class="menu-label">Pendencias</span>
      </mat-list-item>

      <mat-list-item routerLink="/relatorios" class="menu-item" routerLinkActive="active">
        <img src="../../../assets/icons-side/svg-relatorio.svg" alt="relatorios">
        <span class="menu-label">Relatórios</span>
      </mat-list-item>

      <mat-list-item routerLink="/recursos-humanos" class="menu-item" routerLinkActive="active">
        <img src="../../../assets/icons-side/svg-rh.svg" alt="rh">
        <span class="menu-label">Recursos Humanos</span>
      </mat-list-item>

      <mat-list-item routerLink="/estoque" class="menu-item" routerLinkActive="active">
        <img src="../../../assets/icons-side/svg-estoque.svg" alt="estoque">
        <span class="menu-label">Estoque</span>
      </mat-list-item>

      <mat-list-item routerLink="/pastas" class="menu-item" routerLinkActive="active">
        <img src="../../../assets/icons-side/svg-pasta.svg" alt="pastas">
        <span class="menu-label">Pastas</span>
      </mat-list-item>

      <mat-list-item routerLink="/configurações" class="menu-item" routerLinkActive="active">
        <img src="../../../assets/icons-side/svg-config.svg" alt="config">
        <span class="menu-label">Configurações</span>
      </mat-list-item>

      <mat-list-item routerLink="/ajuda" class="menu-item" routerLinkActive="active">
        <img src="../../../assets/icons-side/svg-ajuda.svg" alt="ajuda">
        <span class="menu-label">Ajuda</span>
      </mat-list-item>

      <mat-list-item routerLink="/logout" class="last-item menu-item" routerLinkActive="active">
        <img src="../../../assets/icons-side/svg-sair.svg" alt="sair">
        <span class="menu-label">Sair</span>
      </mat-list-item>
       </mat-nav-list>